*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #bbc2c6;
}

header h1, main h2 {
    margin-bottom: 70px;
}

h1, h2 {
    color: #000000cc;
}

main h2 span {
    color: #ff4f4f;
}
main p span {
    color: #ff4f4f;
}
header a p {
    color: #ff4f4f;
}

.form h2 {
    text-align: right;
    color: #ffffee;
    font-size: 18px;
}

header, main, footer {
    text-align: center;
}

header, .form, main {
    width: 90%;
    max-width: 500px;
    margin: 0 auto 70px;
}

header button {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #ff4f4f;
    color: white;
    font-weight: bold;
}

.logo {
    width: 120px;
    margin: 70px 0;
}

header p {
    font-size: 14px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 45px;
    align-items: center;
    background-color: #ff4f4f;
    padding: 16px 64px;
    border-radius: 6px;
}

form input, form button {
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px #ffffee solid;
}

form input {
    background-color: transparent;
}

form input::placeholder {
    color: #ffffee;
}

form button {
    font-weight: bold;
}

.donors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blood {
    color: #ff4f4f;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blood::before {
    content: "";
    background-color: #ff4f4f11;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
}

.donor p {
    margin-top: 24px;
    margin-bottom: 64px;
    font-size: 14px;
}

footer {
    margin-top: auto;
    padding: 16px;
    border: 1px solid #eee;
}

.form {
    transition: all 300ms;
}

.form.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
}